.heading{
    color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: space-around;
    /* background-color: gray; */
    align-items: center;
}

.main_image {
    width: 110px;
}

.navbar_link {
    display: flex;
    list-style: none;
    gap: 25px;
}

.drop_down_link {
    list-style: none;
    display: block;
    position: absolute;
    background-color: var(--shadow-color);
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    z-index: 100;
}

.drop_down_link li {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: medium;
    list-style: none;
}

.link:hover {
    background-color: var(--hover-color);
    padding: 7px 12px;
    border-radius: 5px;
}

.btn {
    display: flex;
    gap: 15px;
}